#container{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    
}
.zamowienia{
    font-size: 40px;
    display: flex;
    width: 400px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.oferta{
    font-size: 40px;
    display: flex;
    width: 400px;
    height: 200px;
    border: 1px solid black;
    margin-top: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.zamowienia, .oferta:hover{
    cursor: pointer;
}

